
.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
}

.login #wrap,
.login #login {
    width: 100%;
    max-width: 20em;
    margin: 0;
}

#login p {
    font-weight: normal;
}

.login form p:not(:nth-child(3)):not(.error) {
    margin-bottom: 1rem;
}

.login form br {
    display: none;
}

.login input.button {
    display: block;
    width: 100%;
}


.error {
    padding: 1rem;
    margin: 2rem auto;
    border-radius: .2rem;
    color: #BA5B5B
}
