
@import '_h5bp.css';
@import '_scaffolding.css';
@import '_buttons.css';
@import '_forms.css';
@import '_tables.css';
@import '_menu.css';

@import '_page-login.css';
@import '_page-tools.css';
@import '_page-plugins.css';


/*

    START STYLING

*/


#new_url_form {
    padding: 3rem 0;
    margin: 3rem 0;
    text-align: center;
}

#add-url,
#add-keyword,
#add-button {
    padding: 1rem;
}

#add-url,
#add-keyword {
    font-size: 1.5rem;
}

#add-url {
    width: 100%;
    margin-bottom: 1rem;

     /*hide that weird : */
    position: relative;
    margin-top: -20px;
}

#add-keyword,
#add-button {
    width: 100%;
}

#add-keyword {
    display: block;
    max-width: 10em;
    margin: .5rem auto 2rem auto;
}

#add-button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
}

#new_url_form strong:first-child { display: none; }

#main_table .timestamp {
    font-size: .8rem;
    vertical-align: middle;
    color: #80939b;
}

#main_table_head_ip,
#main_table .ip {
    display: none;
}

#main_table .clicks {
    vertical-align: middle;
    text-align: right;
    font-style: italic;
    font-weight: 500;
}

td.url small a {
    color: #80939b;
}

#shareboxes {
    margin-bottom: 3rem;
}

#footer p {
    font-size: .8rem;
    color: #b4bfc4;
}

#footer p a {
    background-color: transparent;
}


#filter_form {

}

#pagination {

}
